* {
  margin: 0;
  padding: 0;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  background-color: #f8f8f8;
  color: #333;
  padding: 2px 4px;
  border-radius: 3px;
}

.input-container {
  position: absolute;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(64,65,79,1);
}